  /* General Page Styles */

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* ALREADY GIVEN RULESETS matched up to their correct selectors */

.card{
    width: 35 em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
}

/* Style Specifics for the Header and Footer */

.card header{
    background-image: linear-gradient(to top,rgba(0,0,0,0), rgba(0,0,0,0.2));
    border-radius: 1.5em 1.5em 0 0;
}


.card footer{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.2), rgba(0,0,0,0));
    border-radius: 0 0 1.5em 1.5e;
}

/* Style Specifics for the Main Business Card Contents  */

.card article img{
    max-height: 100%;
    float: right;
}

/* New rulesets that target the header and footer, giving them a height and padding on all sides */

.card header, .card footer{
    height: 3.125em;
    padding: 1em;
}

/* Adjusting margins of h2 and p */

h2, p{
    margin: 0;
}

/* Setting the height and bg color of the article */ 
article{
    height: 12em;
    background-color: rgba(0,0,0,0.35)

}

/* Updating the Chris Mills font size and height */ 
h2{
    font-size: 2em;
    line-height: 1.5em;
}

/* Setting the font size of the footer and article p */ 
p{
    font-size: 1.25em;
    line-height: 1.5em;
}

/* You don't need this specific ruleset, but I added it in for the footer p to be centered. */
footer p{
    line-height: 2.1em;
}

/* Changing the padding, sizing, and color of the article info. */
.card article p{
    color: rgba(255,255,255,.75); /*lighter white shade.*/
    font-size: 0.938em;
    padding-left: 1em;
    padding-top: 1em;
}

  /* Card 2*/

  body {
    margin: 0;
  }
  
  html {
    font-family: 'Georgia';
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* ALREADY GIVEN RULESETS matched up to their correct selectors */
  

.card2{
    width: 35 em;
    height: 22em;
    margin: 5em auto;
    background-color:lightpink ;
    border: 0.2em solid salmon;
    border-radius: 1.5em;
}

/* Style Specifics for the Header and Footer */

.card2 header{
    background-image: linear-gradient(to top,rgba(0,0,0,0), rgba(0,0,0,0.2));
    border-radius: 1.5em 1.5em 0 0;
}


.card2 footer{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.2), rgba(0,0,0,0));
    border-radius: 0 0 1.5em 1.5e;
}

/* Style Specifics for the Main Business Card Contents  */

.card2 article img{
    max-height: 100%;
    float: right;
}

/* New rulesets that target the header and footer, giving them a height and padding on all sides */

.card2 header, .card footer{
    height: 3.125em;
    padding: 1em;
}

/* Adjusting margins of h2 and p */

h2, p{
    margin: 0;
}

/* Setting the height and bg color of the article */ 
article{
    height: 12em;
    background-color: rgba(0,0,0,0.35)

}

/* Updating the Chris Mills font size and height */ 
h2{
    font-size: 2em;
    line-height: 1.5em;
}

.card2 h2{
    font-family:cursive;
}

/* Setting the font size of the footer and article p */ 
p{
    font-size: 1.25em;
    line-height: 1.5em;
}

/* You don't need this specific ruleset, but I added it in for the footer p to be centered. */
footer p{
    line-height: 2.1em;
}

/* Changing the padding, sizing, and color of the article info. */
.card2 article p{
    color: rgba(255,255,255,.75); /*lighter white shade.*/
    font-size: 0.938em;
    padding-left: 1em;
    padding-top: 1em;
}