.nav {
    display: flex;
    font-family:'Courier New', Courier, monospace;
    color: black;
    background-color: transparent;
    z-index: 2;
    position: relative;
    justify-content: flex-end;
}

img{
    top: -60px;
    position: relative;
    width: 100%;
    z-index: 1;
    opacity: 0.9;

}

.header {
    position: fixed; 
    top: 10px; 
    left: 10px; 
    font-weight: bold;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: small;
    position: fixed; 
    top: 40px; 
    right: 100px; 
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.imagebody{
    height: 400px; 
    width: 500px; 
    position: absolute;
    top: 140px; 
    left: 20px; 
    z-index: 1; 
}


body{
    margin: 0;
    background-color: #efe3ef;
}

.musicsection{
    /* display:flex; */
    display: grid;
    grid-template-columns: auto auto;

}

@media screen and (min-width: 400px) {
    .musicsection{
        display: block;
    }
    
}

@media screen and (max-width: 1500px) {
    .musicsection{
        display: block;
    }
    
}
