body{
    background-color: #efe3ef;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size:xx-large;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: small;
    position: fixed; 
    top: 90px; 
    left: 180px; 
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: small;
    position: fixed; 
    top: 90px; 
    left: 180px; 
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: small;
    position: fixed; 
    top: 90px; 
    left: 180px; 
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: small;
    position: fixed; 
    top: 90px; 
    left: 180px; 
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}



